.jumbotron {
  background-color: #006863;
  color: azure;
}

#logo {
  margin-top: 2em;
  max-height: 150px;
  border-radius: 50%;
  border-color: rgb(228, 245, 0);
  border-style: solid;
  margin-top: 7rem;
}

#harga {
  background-color: #006863;
}
#harga h2 {
  color: azure;
  margin-bottom: 3rem;
  text-align: center;
}
#harga h4 {
  color: azure;
  margin-bottom: 1rem;
  text-align: center;
}
#katalog {
  margin-bottom: 5rem;
}
.card-header,
.card-title {
  text-align: center;
  justify-content: center;
}

#contact h2 {
  margin-bottom: 3rem;
}

#price {
  font-size: 2rem;
  font-weight: bold;
  color: #e7008a;
}

.tele {
  background-color: teal;
}
